/* Users Data Table Styles */
.ManageUsers {
  margin-top: 4.5em;
  text-align: center;
  text-align: center;
  .DataGrid {
    height: 30em;
    align-items: center;
    text-align: center;
    justify-content: center;
    .table-header {
      color: rgb(108, 86, 231);
    }
  }
}

/* Add Users Model Styles */

.MuiDialog-paper-AddUserModel {
  .MuiDialog-container {
    .MuiPaper-root{
      padding: 10px;
      max-width: 80em;
      width: 70em;
      
    }
    .MuiDialogTitle-root{
      text-align: center;
    }
    .MuiDialogContent-root{
      .MuiFormControl-root{
        width: 22em;
        margin-bottom: 10px;
        margin-left: 4px;
      }
      .secondRow{
        display: flex;
        margin-top: 18px;
        .MuiFormControl-root{
          margin-bottom: 20px;
        }
        .MuiAutocomplete-root{
          width: 15em;
          .MuiFormControl-root{
            margin-top: 0px;
            width: 44.4em;
          }
        }
      }
    }
    .MuiDialogActions-root{
        padding: 14px 23px 4px 0px;
    }
    
  }
}
