.questions-container {
  overflow-y: inherit;
  margin-top: 4.5em;
  text-align: center;
  text-align: center;
  .Questions-Table {
    height: 25em;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    .table-header {
      color: rgb(108, 86, 231);
    }
  }
}

.MuiDialog-paper-AddQuestionModel {
  .MuiDialog-paperScrollPaper {
    flex-direction: column;
    width: 35em;
    text-align: center;
    padding: 15px;
    .MuiSvgIcon-root {
      margin-left: 14em;
    }
    .MuiFormControl-root {
      width: 28em;
    }
    .MuiButtonBase-root {
      width: 8em;
      margin: 5px;
    }
  }
}
