//QuestionDataTable Related Styles
.questions-container {
  overflow-y: inherit;
  margin-top: 4.5em;
  text-align: center;
  text-align: center;
  .Questions-Table {
    height: 25em;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    .table-header {
      color: rgb(108, 86, 231);
    }
  }
}

//Add&Edit Question Model Related Styles
.MuiDialog-paper-AddQuestionModel {
  .MuiDialog-paperScrollPaper {
    flex-direction: column;
    width: 35em;
    text-align: center;
    padding: 15px;
    .MuiSvgIcon-root {
      margin-left: 14em;
    }
    .MuiFormControl-root {
      width: 28em;
    }
    .MuiButtonBase-root {
      width: 8em;
      margin: 5px;
    }
  }
}

// ChangeQuestionStatus Model Related Styles
.MuiDialog-paper-ChangeQuestionStatusModel {
  .MuiDialog-container {
    padding: 40px;
    .MuiDialog-paperWidthSm {
      padding: 10px;
      max-width: 80em;
      width: 70em;
      .MuiDialogTitle-root {
        .MuiTypography-h6 {
          text-align: right;
        }
      }
    }
  }
}


//Add Question page Styles
.addquestion{
 margin-top: 5em;
 .addQuestionForm{
   margin: 3em;
   .questionName{
    width: 58em;
   }
   .topic{
    width: 19em;
    margin-left: 10px;
   }
   .options{
    margin: 25px 9px 20px 0px;
    width: 19em;
   }
   .submit{
     text-align: center;
   }
   .MuiFormHelperText-root{
    color:red;
    font-size: 15px;
  }
 }
}